<!DOCTYPE html>
<!--
Call the API to GET a list of dealers.
Filter dealers by Brand brandName and dealerProvinceCode
In the table display: dealerId, Province (use dealerProvinceCode to derive Province)
https://api.bmw.co.za/webcontact/v1/dealer
-->
<html>
  <head>
    <title>AngularJS Front-End Developer Test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <base href="/dealer">
  </head>
  <body>
  <div ng-view></div>
  <p><p>
  <div ng-app="app" ng-controller="DealerController">
    <div class="container">
      <p>
        <button ng-controller="LogoutController" ng-click="logout()"
                type="button" class="btn btn-secondary" style="float: right">Log Out</button>
      </p>
      <h1>Dealer List.</h1>
      <p>Here is a list of our dealers.</p>
      <div class="panel panel-default">
        <div class="panel-heading">Filter:</div>
      <form class="form-inline panel-body">
        <div class="form-group col-md-3">
          <label for="brand">Brand:</label>
          <!-- implement using ng-options -->
          <select class="form-control" id="brand" ng-model="search.brand">
            <option></option>
            <option>BMW</option>
            <option>MINI</option>
            <option>MOTORAD</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="province">Province:</label>
          <!-- implement using ng-options -->
          <select class="form-control" id="province" ng-model="search.dealerProvinceCode">
            <option></option>
            <option value="EC">Eastern Cape</option>
            <option value="FS">Free State</option>
            <option value="GP">Gauteng</option>
            <option value="KN">KwaZulu-Natal</option>
            <option value="LP">Limpopo</option>
            <option value="MP">Mpumalanga</option>
            <option value="NC">Northern Cape</option>
            <option value="NW">North West</option>
            <option value="WC">Western Cape</option>
          </select>
        </div>
        <!-- Implement a 3rd filter -->
      </form>
        </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-2"></th>
            <th class="col-md-5"></th>
            <th class="col-md-5"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dealer in dealerData | filter: search">
            <td>{{dealer.dealerId}}</td>
            <td>{{dealer.dealerName}}</td>
            <td>{{dealer.dealerProvinceCode}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="main.js"></script>
  </body>
</html>
